<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="/assets/img/impossible-burger-1523482169.jpg" style="height: 200px; width: 350px;">
        </div>
    </div>
    <div class="row">
        <div class="col-6-md w-50">
            <div class="uneatenBurgers text-center">
                <h4>Uneaten Burgers</h4>
                <hr>
                <ul>
                    {{#each burgers}} {{#unless devoured}}
                    
                    
                    <div> 
                    
                    <form action="/burger/eat/{{id}}" method="POST">
                        <div>{{burger_name}}
                        <button class="devour" data-id="{{id}}">Devour!</button>
                        </div>
                    </form>
                    </div>
                    

                    {{/unless}} {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-6-md w-50">
            <div class="devouredBurgers text-center">
                <h4>Devoured Burgers</h4>
                <hr>
                <ul>
                    {{#each burgers}} 
                    {{#if devoured}} <p>{{burger_name}}</p> {{/if}} 
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    
</div>